body{
    background: #f9d9df;
    font-family: "Nunito";
}


#mainNavbar{
    font-weight: 100;
   font-size: 1.5rem;
}

#mainNavbar .navbar-brand{
    color: red;
}

.navlink{ 
    padding: 4px;
    color: white;
}
.navlink:hover{
    color: red;
}

#headingGro span{
    color: red;
}
#headingGro h2{
    font-weight: 100;
    font-size: 4rem;
}

.headingsec {
    font-weight: 100;
    color: red;
    font-size: 3rem;
}
.cont p{
    color: rgb(244, 145, 95);
    line-height: 2;
    font-weight: 100;
    font-size: 1.5rem;
}
.cont{
    margin-top:50px;
}
.navbar.scrolled{
    background: rgb(110, 36, 47);
    transition: 2s;
}
@media(max-width:1200px){
    #headingGro h2{
        font-weight: 100;
        font-size: 3rem;
    }
}